<form action="/enviar" method="POST">
    <p>Título</p>
    <input type="text" name="title">
    <p>Conteúdo</p>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>